<div>
    <h1 style="text-align: center;">My favorite movies....</h1>
</div>
<hr class="redd"/>
<div  *ngIf="!movies[0].length" fxLayout="column" fxLayoutAlign="center center">
  <h3>It seems you have no movies added as favorite</h3><br>
  <p><a [routerLink]="['/films']" style="color:red">Let Me Add Favourite Movies</a></p><br>
  <mat-spinner></mat-spinner>
</div>
<section *ngFor="let fav of movies[0]" fxLayout="row" class="col-md-6">
  <mat-card class="mine" >
    <mat-card-header>
    </mat-card-header>
    <img mat-card-image [src]="fav.imageUrl" class="example-card" alt={{fav.title}}>
    <mat-card-content>
      <p>Actors:  &nbsp;&nbsp;&nbsp;&nbsp;<strong>{{fav.actors}}</strong></p>
      <p>Year: &nbsp;&nbsp;&nbsp;&nbsp;<b>{{fav.year}}</b></p>
      <p>Genre:  &nbsp;&nbsp;&nbsp;&nbsp;<b>{{fav.genre}}</b></p>
      <p>Rating: &nbsp;&nbsp;&nbsp;&nbsp;<b>{{fav.rated}}</b></p>
      <i id={{fav?._id}} class="material-icons" (click)="removeFav($event)">delete_outline</i>
    </mat-card-content>
  </mat-card>
</section>

<!-- <section *ngFor="let fav of movies[0]">
    <div class="container" >
        <div class="card" style="width: 18rem; margin-bottom: 9rem;"  >           
    <img [src]="fav?.imageUrl" class="card-img-top" alt="{{fav.title}}" style="width:208px; height:268px">
              <div class="card-body">
                <h5 class="card-title">
                  Title: &nbsp;&nbsp;&nbsp;{{fav?.title  }}
                </h5>
                <p class="card-text">Genre:&nbsp;&nbsp;&nbsp;
                {{fav?.genre }}</p>

                <p class="card-text">Duration: &nbsp;&nbsp;&nbsp; {{fav?.runtime}}</p>
                <i id={{fav?._id}} class="material-icons" (click)="removeFav($event)">delete_outline</i>
              </div>
          </div>
    </div>
    <div>
      
      
    </div>
</section> -->